<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
	<title>404</title>
	<meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta http-equiv="cache-control" content="public">
	<meta http-equiv="cache-control" content="must-revalidate">
	<meta http-equiv="cache-control" content="max-age=86400">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <h1>Ошибка, нет такого файла</h1>
	<script src="/js/bootstrap.min.js"></script>
  </body>
</html>